body{
  background-image: url("../images/bg4.jpg");
}
/* Estilo para el formulario */
#clienteForm {
  display: none;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 95%;
}


/* Estilo para la tabla de clientes */
#clienteTable {
  width: 70%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 15%;

}

textarea{
  width: 95%;
  height: 60%;
}



table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #293038;
  color: #fff;
}


td{
  background-color: #fff;
  width: auto;
}

th,
td{
  min-width: 100%;
}

/* Estilo para el título h2 *//* Estilo para el título h2 */
button,
h2 {
  color: #f8f7fa;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center; /* Centra verticalmente el contenido */
  border-left: 5px solid #072f5a; /* Agrega un borde a la izquierda */
  padding-left: 10px; /* Espacio entre el texto y el borde izquierdo */
  background-color: #242627;
  width: 10%;
  border-end-end-radius: 10px;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;

}
